{% extends 'base.html' %}
{% block body_block %}
<section>
<div class="page-header" id="section-sites">
    <h1>Site Details - {{ site_name }}</h1>
    <div class="container">
    {% if site %}
        {% if site_details %}
        <table class="table">
            <thead>
            <tr>
                <th>Date </th>
                <th>A Value </th>
                <th>B Value </th>
            </tr>
            </thead>
            <tbody>
            {% for site_detail in site_details %}
            <tr><td>{{site_detail.date}}</td> <td>{{ site_detail.a_value }}</td> <td>{{ site_detail.b_value }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <strong>No site currently in site details.</strong>
        {% endif %}
    {% else %}
        The specified site detail {{ site_name }} does not exist!
    {% endif %}
    </div>
</div>
</section>
{% endblock %}
