{% extends 'base.html' %}
{% block body_block %}
<section>
<div class="page-header" id="section-summary">
    <a href="/demo/summary"><button type="button" class="btn btn-primary active">Sum</button></a>
    <a href="/demo/summary-average"><button type="button" class="btn btn-primary">Average</button></a>
    <h1>Summary</h1>
    <div class="container">
    {% if Sums %}
        <table class="table">
            <thead>
            <tr>
                <th>Site Name </th>
                <th>A Value </th>
                <th>B Value </th>
            </tr>
            </thead>
            <tbody>
            {% for site_name,a_sum,b_sum in Sums %}
                <tr>
                    <td>{{site_name}}</td>
                    <td>{{a_sum|floatformat:2}}</td>
                    <td>{{b_sum|floatformat:2}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
</section>
{% endblock %}